<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Me - Your Portfolio</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-gray-100">
    <header class="text-gray-600 body-font bg-white shadow">
      <div
        class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center"
      >
        <a
          href="../index.html"
          class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0"
        >
          <span class="ml-3 text-xl">p-g</span>
        </a>
        <nav
          class="md:ml-auto flex flex-wrap items-center text-base justify-center"
        >
          <a
            href="../index.html"
            class="mr-5 hover:text-gray-900 transition-colors duration-300"
            >Home</a
          >
          <a
            href="#"
            class="mr-5 hover:text-gray-900 transition-colors duration-300"
            >About</a
          >
          <a
            href="./services.html"
            class="mr-5 hover:text-gray-900 transition-colors duration-300"
            >Services</a
          >
          <!-- <a
            href="./views/projects.html"
            class="mr-5 hover:text-gray-900 transition-colors duration-300"
            >Projects</a
          > -->
        </nav>
        <a
          class="inline-flex items-center bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-red-600 rounded-full text-white text-lg transition-colors duration-300"
          href="./contact.html"
        >
          Contact
          <svg
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            class="w-4 h-4 ml-2"
            viewBox="0 0 24 24"
          >
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </a>
      </div>
    </header>

    <section class="container mx-auto p-8">
      <div class="container mx-auto text-center">
        <h1 class="text-3xl font-semibold">About Me</h1>
        <p class="mt-2">Get to know me better!</p>
      </div>
      <div class="mt-8 flex items-center my-24">
        <div class="w-16 h-16 rounded-full overflow-hidden">
          <img
            src="https://scontent.fktm19-1.fna.fbcdn.net/v/t1.6435-9/95328053_675395219928103_7541675779629776896_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=WIGCjeLnWtQAX_BQ_s1&_nc_ht=scontent.fktm19-1.fna&oh=00_AfD-RPSlxXO_tOIJ46jfmgfAVaIsTfePWFsSBa6ub54Rdg&oe=651657FD"
            alt="Your Picture"
            class="object-cover w-full h-full"
          />
        </div>
        <div class="ml-4">
          <h2 class="text-xl font-semibold mb-2">Hello, I'm Pukar Gautam</h2>
          <p class="text-gray-700">
            Passionate web developer with a focus on creating user-friendly
            applications. Expertise in React, Express, Node.js, MongoDB, and
            more.
          </p>
        </div>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8 my-10">
        <div class="bg-white p-6 rounded-lg shadow-md">
          <h2 class="text-xl font-semibold mb-4">Education</h2>
          <p class="text-gray-700">
            Bachelor's Degree in Networking and IT Security <br />
            London Metropolitian University - London
          </p>
        </div>
        <div class="bg-white p-6 rounded-lg shadow-md">
          <h2 class="text-xl font-semibold mb-4">Experience</h2>
          <p class="text-gray-700">
            Web Developer - Company Name <br />
            Front-end and Back-end development tasks.
          </p>
        </div>
      </div>
    </section>
  </body>
</html>
